<h1>Nora's Blog</h1>

<p>Welcome to my blog</p>

<h2>Posts</h2>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, post %></h3>
<% end %>

<% if current_admin %>
<%= link_to "New post", new_post_path, :id => "new_link" %>
<% end %>

<% if current_admin %>
<%= link_to "Admin log out", destroy_admin_session_path, method: :delete, :id => "admin_logout_link" %>
<% else %>
<%= link_to "Admin log In", new_admin_session_path, :id => "admin_link" %>
<% end %>
